.dl-table {
  a {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-underline-offset: .8rem;
    }
    @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      padding-bottom: .45rem;
    }
  }

  .btn, .gumroad-button  {
    margin: 1rem 0;
  }
}

// for top-menu
.top-menu-wrapper{
  display: inline-block;
}
.top-menu{
  overflow-x: auto; // overflowx 속성은 x 축, 즉 왼쪽과 오른쪽의 내용이 더 길 때(가로),
  overflow-y: hidden; // overflowy 속성은 y 축, 즉 위와 아래의 내용이 더 길때 (세로) 어떻게 보일지 선택하는 속성
  white-space: nowrap; // whitespace 는 스페이스와 탭, 줄바꿈, 자동줄바꿈을 어떻게 처리할지 정하는 속성, nowrap :병합
}
// for top-menu
.top-menu.nav-btn{
  border: none;
  display: inline-flex; // Flex 는 요소의 크기가 불분명하거나 동적인 경우에도, 각 요소를 정렬할 수 있는 효율적인 방법을 제공, Inline 특성의 Flex Container 를 정의
  width: 6rem; // inlineflex : Inline(Inline Block) 요소와 같은 성향(수평 쌓임)
  margin-left: -1px;
}

.content .avatar {        /* about에 있는 사진 속성 - 지킬 테마에 의해 고정되어있어서, 편집시 !important 붙여야 적용가능*/
  float: right !important;
  box-sizing: content-box;
  border: 1rem solid var(--body-bg);
  transition: border-color 1s ease;
  margin-top: -1.5rem !important;
  margin-right: -1rem !important;
  width: 140px !important;
  height: 200px !important;
}

.author-body-description{
  margin-left: 20px !important;
  margin-top: 20px !important;

}


.content a:not(.btn):not(.no-hover) {  /* 링크 밑줄 색 검사 눌려서 복붙해온거*/
    text-decoration-color: rgba(255, 15, 16, 0.5);
}

.markdown-body > p > a {
  /* 링크 검사를 이용해서, 태그가 어떻게 상속되는지 확인후 , 변경 가능!!*/
  font-weight: bold !important;
  color: rgb(3, 102, 214) !important;
}

.markdown-body >blockquote > p > a {
  /* 링크 검사를 이용해서, 태그가 어떻게 상속되는지 확인후 , 변경 가능!!*/
  font-weight: bold !important;
  color: rgb(3, 102, 214) !important;
}
.markdown-body >ol >li > p > a {
  /* 링크 검사를 이용해서, 태그가 어떻게 상속되는지 확인후 , 변경 가능!!*/
  font-weight: bold !important;
  color: rgb(3, 102, 214) !important;
}

.markdown-body {
  /*우리가 한번 만들어보자!*/
  kbd {
    font-size: 30px;
    font-family: monospace;
    color: #555;
    background-color: #fcfcfc;
    border: solid 1px #ccc;
    border-radius: 3px;
    border-bottom-color: #bbb;
  }
  code{
    padding: .25em .5em;
    background-color: rgb(251, 232, 201);
    border-radius: 5px;
  }
  mark{
    padding: 3px 5px;
    background-color: #FFF9C4;
  }
  under{
    text-decoration: underline;
    text-decoration-color: red;
    padding-bottom: 2px;
  }
}

